.grade-list-page-container {
    display: flex;
    flex-direction: column;
  }
  
  .grade-list-content {
    padding: 40px;
    padding-top: 90px; /* offset for navbar */
    max-width: 1000px;
    margin-left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  .grade-list-content h1 {
    font-size: 2.4rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .grade-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
  
  .subject-card {
    padding: 20px;
    background-color: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
  }
  
  .subject-card:hover {
    transform: translateY(-5px);
  }
  
  .subject-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .topic-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #007acc;
  }
  
  .subject-grade {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .grade-A {
    color: #4caf50;
  }
  
  .grade-A- {
    color: #4caf50;
  }
  
  .grade-B {
    color: #4caf50;
  }
  
  .grade-B+ {
    color: #4caf50;
  }
  
  .grade-C {
    color: #4caf50;
  }
  